/* This is where you can make changes to the
appearance of your different blocks.

For info on CSS, copy and paste the link
below into your browser!

https://www.w3schools.com/css/default.asp

*/

/* float the service dock to the right */
#servicedock {
  float: right;
}

.buttonBlock{
    /*Give your button block some style!
    Add color, change the border, and
    change the size using CSS styling*/
    background-color:lightblue;
    border:solid;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    width:30%;
}

.sliderBlock{
    /*Give your slider block some style!
    Add color, change the border, and
    change the size using CSS styling*/
    background-color:orange;
    border:solid;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    width:30%;
}

.textBlock{
    /*Give your text block some style!
    Add color, change the border, and
    change the size using CSS styling*/
    background-color:lightgreen;
    border:solid;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    width:30%;
}

/* homepage styling */
.table_links {
  border: 1px solid black;
  padding: 10px;
}
.remote {
  border: 1px solid black;
  vertical-align: middle;
  text-align: center;
  width: 200px;
  height: 100px;
  background-color: lightgreen;
}
.local {
  border: 1px solid black;
  vertical-align: middle;
  text-align: center;
  width: 200px;
  height: 100px;
  background-color: pink;
}
.documentation {
  border: 1px solid black;
  vertical-align: middle;
  text-align: center;
  width: 200px;
  height: 100px;
  background-color: lightyellow;
}

/* local styling for cloud interaction */
.cloud_check {
  padding: 5px;
  background-color: lightyellow;
}
.cloud_table {
  padding: 5px;
}
.cloud_table td {
  padding: 5px;
	vertical-align: top;
}
.cloud_active {
	background-color: lightgreen;
}
.cloud_inactive {
	background-color: none;
}

/* documentation styles */
.documentation_image {
  border: 1px solid black;
}
.documentation_code {
  padding: 5px;
  background-color: lightyellow;
}
